.grid-table {
    border: 1px solid black;
}

.grid-cell {
    border: 1px solid #aaa;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header {
    font-size: 20px;
    padding: 8px 0px;
    
}

.footer {
    color: #ddd;
}

.selected-cell {
    background-color: black;
}

.unselected-cell {
    background-color: white;
}

#grid-value {
    padding: 4px;
    width: 200px;
}

textarea {
    border: 1px solid #aaa;
    height: 100px;
}
