* {
    font-family: ubuntu mono;
}

.grid-holder {
    margin-right: 6px;
}

.grid-table {
    border: 1px solid black;
}

.grid-cell {
    border: 1px solid #aaa;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header {
    font-size: 20px;
    padding: 8px 0px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 12px;
}

.footer {
    color: #ddd;
}

.selected-cell {
    background-color: black;
}

.unselected-cell {
    background-color: white;
}

#grid-value {
    padding: 4px;
    border: 1px solid #aaa;
    height: 100px;
    width: 100%;
}

.close-box {
    font-size: 10px;
    text-align: right;
}
